{%- comment -%}
  Added accepts:
  - show_shipping_message: {Boolean}
  - shipping_message_text: {String}
  - shipping_page: {Page}
{%- endcomment -%}

{%- liquid
  assign target = product
  if use_variant
    assign target = product.selected_or_first_available_variant
  endif

  assign price = target.price | default: 1999
  assign compare_at_price = target.compare_at_price
  assign available = target.available | default: false

  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  assign on_sale = false
  if compare_at_price and compare_at_price > price
    assign on_sale = true
  endif

  assign discount_percentage = 0
  if on_sale
    assign discount_percentage = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round: 0
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif

  assign money_compare = compare_at_price | money
  if settings.currency_code_enabled
    assign money_compare = compare_at_price | money_with_currency
  endif

  assign upm = target.unit_price_measurement

  # Defaults
  if show_shipping_message == nil
    assign show_shipping_message = false
  endif
  if shipping_message_text == blank
    assign shipping_message_text = 'Shipping calculated at checkout.'
  endif

  # Build the linked "Shipping" word if a page is chosen
  assign ship_word = 'Shipping'
  if shipping_page
    assign ship_link = '<a class="price__subtext-link" href="' | append: shipping_page.url | append: '">' | append: ship_word | append: '</a>'
  else
    assign ship_link = ship_word
  endif

  # Replace "Shipping" with linked version (case-sensitive)
  assign rendered_message = shipping_message_text | replace: ship_word, ship_link
-%}

<div class="price{% if price_class %} {{ price_class }}{% endif %}{% unless available %} price--sold-out{% endunless %}{% if on_sale %} price--on-sale{% endif %}{% if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}">
  <div class="price__container">
    <div class="price__regular">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
      <span class="price-item price-item--regular">
        {{ money_price }}
      </span>
    </div>

    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale">
        {{ money_price }}
      </span>

      {%- unless product.price_varies == false and product.compare_at_price_varies -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item--last">
          <s class="price-item price-item--regular">{{ money_compare }}</s>
        </span>
        {%- if settings.show_discount_badges and discount_percentage > 0 -%}
          <span class="discount-badge badge text-color-secondary background--sale">
            {{ discount_percentage }}% {{ 'products.product.off' | t: default: 'Off' }}
          </span>
        {%- endif -%}
      {%- endunless -%}
    </div>

    <small class="unit-price caption{% if upm == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- target.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if upm and upm.reference_value and upm.reference_value != 1 -%}
            {{- upm.reference_value -}}
          {%- endif -%}
          {%- if upm -%}{{ upm.reference_unit }}{%- endif -%}
        </span>
      </span>
    </small>
  </div>

  {%- if show_shipping_message -%}
    <p class="price__subtext caption">{{ rendered_message }}</p>
  {%- endif -%}
</div>
